@{
    ViewData["Title"] = "Home Page";
}

<form asp-controller="Home" asp-action="UploadFile" method="post"  
      enctype="multipart/form-data">  
      
    <input type="file" name="file" />  
    <button type="submit">Upload File</button>  
</form> 