@{
    ViewData["Title"] = "Home Page";
}

<h2>OFX File Reader</h2> <br/>

<div>
    <form asp-controller="Home" asp-action="UploadFile" method="post"
          enctype="multipart/form-data">

        <input type="file" name="file"/>
        <button type="submit">Upload File</button>
    </form>
</div>